# Copyright (C) 2024 Maxwell G <maxwell@gtmx.me>
# SPDX-License-Identifier: MIT

# This is needed for the PackageQuery.intersection method
# TODO(anyone): Remove git snapshot once a new version is released.
fedrq @ git+https://git.sr.ht/~gotmax23/fedrq@257fe8e2cdb7e39d49e0c3e3cd5b2326ccdffa95
libdnf5-shim
